.brand {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: var(--CL-secondary);
  padding: 1.5em;
  margin: 0 0.5em;
  gap: 1em;
  border-radius: 1em;
  pointer-events: none;
}

.brand *::selection {
  background: transparent;
}

.brand-image {
  height: 10em;
  width: 20em;
  object-fit: contain;
}

.brand-name {
  font-size: 1.5rem;
  margin: 0.5em 0;
}

.brand-text {
  font-size: 0.9rem;
  color: var(--CL-secondary-darker);
  line-height: 1.35;
  margin: 0;
}

@media (min-width: 768px) {
  .brand {
    text-align: left;
    flex-direction: row;
  }

  .brand-name {
    font-size: 2.25rem;
    margin: 0.25em 0;
  }
}
