.hero {
  height: 700px;
  background: linear-gradient(135deg, var(--CL-primary) 1%, var(--CL-primary-darker) 30%);
}

.hero .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-left {
  text-align: center;
}

.hero-title {
  color: var(--CL-neutral-white);
  margin: 0.5em 0;
  font-size: 2rem;
}

.hero-text {
  color: var(--CL-secondary-darker);
  font-size: 0.85rem;
}

.hero-image {
  width: 14em;
}
