.footer {
  background-color: var(--CL-neutral-black);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 2em 0;
}

.footer-text {
  color: var(--CL-neutral-white);
}

.footer-text.parragraph {
  color: var(--CL-secondary-darker);
}

.footer-text.anchor {
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 1.25rem;
  text-decoration: none;
}
