:root {
  --CL-whatsapp: #24ad3d;
}

.detail {
  margin: 72px 0 0 0;
  padding: 1em 0;
}

.detail-header {
  background-color: var(--CL-light);
  display: grid;
  place-items: center;
  padding: 2em 0;
  border-radius: 1em;
}

.detail-image {
  width: 100%;
  max-width: 30em;
  object-fit: cover;
}

.detail-name {
  font-size: 1.5rem;
  margin: 1em 0 0.5em 0;
}

.detail-price {
  margin: 0;
}

.detail-description {
  font-size: 0.9rem;
  line-height: 1.25;
  color: var(--CL-primary);
}

.detail-actions {
  padding: 1em 0;
}

.detail-button {
  width: 100%;
  padding: 1em;
  font-size: 1rem;
  border: none;
  background-color: var(--CL-primary-darker);
  color: var(--CL-neutral-white);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 0.5em;
}

.detail-icon {
  font-size: 1.75rem;
}

.detail-button.whatsapp {
  background-color: var(--CL-whatsapp);
}

@media (min-width: 768px) {
  .detail {
    margin: 100px 0 0 0;
  }

  .detail-content {
    height: 100%;
  }

  .detail-content {
    display: grid;
    grid-template-columns: 1fr 350px;
  }

  .detail-header {
    min-height: 570px;
    border-radius: 1em 0 0 1em;
    outline: 1px solid var(--CL-light);
  }

  .detail-sidebar {
    padding: 2em;
    outline: 1px solid var(--CL-light);
    border-radius: 0 1em 1em 0;
  }

  .detail-name {
    font-size: 2rem;
    margin: 1em 0;
  }

  .detail-price {
    font-size: 1.5rem;
  }

  .detail-description {
    font-size: 1rem;
    line-height: 1.45;
  }

  .detail-button {
    transition: 0.15s;
  }

  .detail-button:hover {
    background-color: var(--CL-primary-darker);
  }
}
