.form-group.cart {
  max-width: 100%;
  padding: 0.5em 0;
}

.cart-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0;
}

.form-input.cart {
  border: 1px solid var(--CL-light);
  width: 100%;
  margin: 0.5em 0 0 0;
  padding: 1em;
}

.form-button.cart {
  width: 100%;
  border-radius: 0;
  padding: 1em;
}
