:root {
  --CL-primary: #383638;
  --CL-primary-blue: #3858d6;
  --CL-primary-darker: #0b0b0b;
  --CL-secondary: #f6f6f6;
  --CL-secondary-darker: #8b8e99;

  --CL-neutral-white: #ffffff;
  --CL-neutral-black: #000;
}
