:root {
  --CL-primary: #383638;
  --CL-primary-blue: #3858d6;
  --CL-primary-darker: #0b0b0b;
  --CL-primary-blue-25: #3858d6e8;
  --CL-secondary: #f6f6f6;
  --CL-secondary-darker: #8b8e99;
  --CL-light: #ebebeb;
  --CL-neutral-white: #fff;
  --CL-neutral-black: #000;
  --FF-primary: 'Poppins', sans-serif;
  --FF-secondary: 'Inter', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--FF-primary);
}

button {
  cursor: pointer;
}

img,
svg,
video,
iframe {
  max-width: 100%;
}

.app {
  height: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.color-white {
  color: var(--CL-neutral-white);
}

.fw-bold {
  font-weight: bold;
}
